.container {
    max-width: 1300px;
    margin: 0 auto;
}

.footer {
    background: #1B1A1F;
}


@import "./mod";
@import "./blocks/header/header";
@import "./blocks/footer/footer";
@import "./blocks/video/video";
@import "./blocks/icons/icons";
@import "./blocks/gallery/gallery";
@import "./blocks/choose/choose";
@import "./blocks/explore/explore";
@import "./blocks/catalog/catalog";